data/cce_data filter=lfs diff=lfs merge=lfs -text
data/correlations filter=lfs diff=lfs merge=lfs -text
data/epsilon_curves filter=lfs diff=lfs merge=lfs -text
data/Delta_t0_data_30_to_100.csv filter=lfs diff=lfs merge=lfs -text
data/Delta_t0N_E.csv filter=lfs diff=lfs merge=lfs -text
data/t0_data_30_to_100.csv filter=lfs diff=lfs merge=lfs -text
data/t0N_E.csv filter=lfs diff=lfs merge=lfs -text
data/correlations/* filter=lfs diff=lfs merge=lfs -text
data/correlations/** filter=lfs diff=lfs merge=lfs -text
data/cce_data/* filter=lfs diff=lfs merge=lfs -text
data/cce_data/** filter=lfs diff=lfs merge=lfs -text
data/epsilon_curves/* filter=lfs diff=lfs merge=lfs -text
data/epsilon_curves/** filter=lfs diff=lfs merge=lfs -text
